<div id="block_footer">

	<div id="container_reseau">
			<h3 id="footertitle">Réseau sociaux</h3>
		<div id="block_age">
			<iframe id="iframefooter" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffr-fr.facebook.com%2FGWWarhammerAgeofSigmar&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			<iframe id="iframefooter" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffr-fr.facebook.com%2Fwarhammer40000uk&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		</div>
	</div>
	<div id="link">
		<h3 id="footertitle">Lien Rapide</h3>
		<ul>
			<li class="linkfooter">
				<a  href="{{path('actualite')}}">Actualite</a>
			</li>
			<li class="linkfooter">
				<a href="{{path('lore')}}">Histoire Warhammer</a>
			</li>
			<li class="linkfooter">
				<a href="{{path('warhammeraos')}}">Warhammer Age Of Sigmar</a>
			</li>
			<li class="linkfooter">
				<a href="{{path('warhammer40K')}}">Warhammer 40k</a>
			</li>
			<li class="linkfooter">
				<a href="{{path('debuter_warhammer')}}">Se lancer dans l'univer de Warhammer</a>
			</li>
			<li class="linkfooter">
				<a href="{{path('impression3d')}}">Se lancer dans l'impression 3D</a>
			</li>
			</ul>
		</div>

	</div>
	<div class="footer-copyright text-center py-3" id="copy">
		<p>© 2020 Copyright : Warhammerfornoob.com - <a href="{{ path('contact') }}">Contacter nous</a></p>
	</div>
