<nav class="navbar navbar-expand-lg " id="navperso">
	<a class="navbar-brand" href="{{ path('actualite') }}"><img id="navlogo" src="https://diw2l4zrbsp3w.cloudfront.net/wp-content/uploads/2019/04/WFRP-800x370.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon" id="icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item nav-itemperso">
				<a class="nav-link list" href="{{ path('actualite') }}">Actualite
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item nav-itemperso">
				<a class="nav-link list " href="{{ path('lore') }} ">Histoire Warhammer</a>
			</li>
			<li class="nav-item nav-itemperso">
				<a class="nav-link list" href="{{ path('warhammeraos') }}">Warhammer Age Of Sigmar</a>
			</li>
			<li class="nav-item nav-itemperso">
				<a class="nav-link list" href="{{ path('warhammer40K') }}">Warhammer 40k</a>
			</li>
			 <li class="nav-item nav-itemperso dropdown list">
        <a class="nav-link dropdown-toggle list" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bien Débuter
        </a>
        <div class="dropdown-menu list nav-itemperso" >
          <a class="dropdown-item list" href="{{ path('debuter_warhammer') }}">Se lancer dans l'univers de  Warhammmer</a>
          <a class="dropdown-item list" href="{{ path('impression3d') }}">Se lance dans l'impression 3D</a>
        </div>
      </li>
		</ul>

	</div>
</nav>