{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/actualite.css') }}">
{% endblock %}
{% block title %}Actualité
{% endblock %}
{% block body %}
<div class="block_body">
	<div class="block_age">
		<div class="aos">
			<h2>Les nouvelles Unitées de Warhammer Age of Sigmar</h2>
			<div id="newunite">
				{% for aos in unite %}
					<a class="link" href="{{ path('race', { id: aos.race.id} ) }}">
						<div class="card blockunit">
							<h5 class="card-title">{{ aos.name }}</h5>
							<div class="card-body">
								<img src="{{aos.img}}" class="card-img-top img " alt="...">
								<a class="link btn btn-danger btn-color" href="{{ path('race', { id: aos.race.id} ) }}">Voir l'unitée</a>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="aos">
			<h2>Les nouveaux plan 3d pour Warhammer Age of Sigmar</h2>
			<div id="newunite">
				{% for stl_aos in stl_aos %}
					<a class="link" href="{{ path('race', { id: stl_aos.race.id} ) }}">
						<div class="card blockunit">
							<h5 class="card-title">{{ stl_aos.name }}</h5>
							<div class="card-body">
								<img src="{{stl_aos.img}}" class="card-img-top img " alt="...">
								<a  class="link btn btn-danger btn-color" href="{{ path('race', { id: stl_aos.race.id} ) }}">Voir l'unitée</a>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="block_age">
		<div class="aos">
			<h2>Les nouvelles Unitées de Warhammer 40k</h2>
			<div id="newunite">
				{% for war40k in war %}
					<a class="link" href="{{ path('race', { id: war40k.race.id} ) }}">
						<div class="card blockunit">
							<h5 class="card-title">{{ war40k.name }}</h5>
							<div class="card-body">
								<img src="{{war40k.img}}" class="card-img-top img" alt="...">
								<a  class="link btn btn-danger btn-color" href="{{ path('race', { id: war40k.race.id} ) }}">Voir l'unitée</a>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="aos">
			<h2>Les nouveaux plan 3d pour Warhammer 40k</h2>
			<div id="newunite">
				{% for stl_war40k in stl_war40k %}
					<a class="link" href="{{ path('race', { id: stl_war40k.race.id} ) }}">
						<div class="card blockunit">
							<h5 class="card-title">{{ stl_war40k.name }}</h5>
							<div class="card-body">
								<img src="{{stl_war40k.img}}" class="card-img-top img" alt="...">
								<a  class="link btn btn-danger btn-color" href="{{ path('race', { id: stl_war40k.race.id} ) }}">Voir l'unitée</a>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
