{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/contact.css') }}">
{% endblock %}
{% block title %}
	Contacts
{% endblock %}
{% block body %}
<div class="block_contact">
	<div class="formulaire">
		{{ form_start(form) }}
		<div id="nom">{{ form_row(form.name)}}</div>
		<div id="email">{{ form_row(form.email)}}</div>
		<div id="textarea">{{ form_row(form.message)}}</div>
		<div class="check-label-submit">
			<div class="check-label">
				<input type="checkbox" id="check" name="check" required>
				<label for="check">J’ ai bien pris connaissance de la réglementation
					                        concernant la protection des données
					<a href="#">RGPD</a>
				</label>
			</div>
			<button type="submit" id="submit" value="Envoyer">Envoyer</button>
		</div>
		{{ form_end(form) }}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>	</div>
{% endblock %}
