{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/debuter_warhammer.css') }}">
{% endblock %}
{% block title %}Se lancer dans l'univers Warhammer{% endblock %}
{% block body %}
<div id="block_content">
	<div class="contentdebut">
		<h1>Boîte de Warhammer pour débuter – Laquelle choisir ?</h1>
		<div class="blockdebut">

			<img class="img_debut" src="https://www.jeu-labyrinthe.com/wp-content/uploads/2020/01/coffret-warhammers.jpg">
			<p>Vous souhaitez acquérir une boîte de figurines Warhammer pour commencer dans l’univers du hobby, mais en raison de la variété de gammes disponibles vous ne savez pas laquelle choisir ? Pas d’inquiétude à vous faire, nous avons recensé pour vous les meilleures boites Warhammer pour bien débuter.</p>
		</div>
		<div class="blockdebut">
			<h2>La boite Dark Imperium Warhammer 40k
			</h2>
			<p>La boîte de figurines Dark Imperium est sans doute l’une des boîtes Warhammer 40k les plus complètes qu’un débutant puisse choisir pour investir les champs de bataille futuristes du 41e Millénaire.Bien que relativement coûteuse, elle a l’avantage de contenir l’essentiel de ce dont vous avez besoin pour commencer à jouer.</p>
			<p>En effet, vous trouvez dans cette boîte un mix de 53 figurines Citadel, soit 22 Primaris Space Marines et 31 Death Guard à monter et peindre avec leurs socles. Ces figurines sont accompagnées du Livre d’introduction Warhammer 40 000, de 2 Livres de Règles pour les 2 figurines, ainsi que de tout le matériel et les accessoires nécessaires pour jouer.</p>
		</div>
		<div class="blockdebut">
			<h2>La boite Premier Sang Warhammer 40k</h2>
			<p>C’est tout simplement la boîte parfaite pour le nouveau joueur qui souhaite découvrir l’univers Warhammer 40k de Games Workshop sans se ruiner. En effet, peu coûteuse, facile à assembler, peindre et collectionner, la boîte Premier Sang de Warhammer 40k contient un nombre suffisant de figurines pour vous constituer une petite armée ainsi que tout le nécessaire pour démarrer avec le jeu.</p>
			<p>Avec l’achat de cette boîte, vous obtenez un mix de 15 figurines Citadel pouvant être partagées entre 2 joueurs, soit 6 Space Marines Primaris et 9 Deadguard à emboiter sans colle. Ajoutez à cela leurs fiches techniques, les Règles de base de Warhammer 40k, un livre d’introduction pour la présentation de l’univers Warhammer 40k, le tapis de jeu, un décor, 6 dés à 6 faces</p>
		</div>
		<div class="blockdebut">
			<h2>La boite Guerre des Âmes Age of Sigmar</h2>
			<p>Pour ceux qui s’intéressent à l’univers fantastique et les batailles historiques de Warhammer Age of Sigmar, la boîte de figurines Guerre des Âmes est sans aucun doute le choix idéal pour avoir une entrée intéressante et réussie dans le monde magique de l’Age de Sigmar.</p>
			<p>Appréciée pour la richesse de son contenu, cette boîte ultime contient tout ce qu’il vous faut pour vous lancer dans le jeu sans tarder : un mix de 52 figurines de Stormcast Eternals et Nighthaunt à emboiter et partagée entre 2 joueurs, le livre de Règles Warhammer Age of Sigmar, et les accessoires de jeu entre autres.</p>
		</div>
		<div class="blockdebut">
			<h2>
				La boite Frappe Foudroyante Age of Sigmar
			</h2>
			<p>C’est la boîte de figurines idéale pour permettre à tout débutant de faire la découverte du hobby de l’Age de Sigmar sans avoir à y investir un budget considérable. Inscrite dans la gamme Easy to Build, cette boîte de base vous propose un mix de 15 figurines Citadel, leurs Règles de base, 9 cartes de charte d’unité, les Règles de jeu et tous les accessoires pour jouer</p>
		</div>
		<div class="blockdebut">
			<h2>Pourquoi acheter des figurines Warhammer ?</h2>
			<p>Il est intéressant d’acheter des figurines Warhammer d’abord parce qu’elles sont faites pour tout le monde, en plus de leur côté ludique, divertissant, mais aussi créatif. Toutefois organisez bien vos dépenses pour maximiser vos achats de figurines.</p>
			<p>Vous pouvez donc les acheter pour le plaisir de les modeler, les peindre, les collectionner, ou simplement pour le plaisir de jouer.</p>
			<p>En associant au jeu de stratégie proprement dit des aspects comme le modélisme, la peinture, les personnalisations et collections, elles vous offrent le moyen de vous divertir tout en stimulant vos compétences.</p>
		</div>
		<div class="blockdebut">
			<h2>Autre façon de trouver ses figurines moins chères</h2>
			<p>L’autre façon de trouver des figurines moins chères, c’est de passer par l'impression 3D.Cela demandera l'investissement dans une imprimmante 3D .
				<a href="{{ path('impression3d') }}">Voici un petit guide des imprimantes 3D</a>
			</p>
			<p>A savoir biensur que ce sont des figurines non officielle appelees proxi ,  donc forcement moins de details que celle officielle mais tres pratique pour completer une armées
			</p>

			<p>le cout d'impression 3D et de moins d'un euro pour une figurines comme celle ci :</p>
			<p>
				<img class="img_debut" src="https://cdn.thingiverse.com/renders/a0/6e/92/eb/05/4a47a0db6e60853dedfcfdf08a5ca249_preview_featured.jpg">
			</p>
		</div>
	</div>
</div>
{% endblock %}
