{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/impression3d.css') }}">
{% endblock %}
{% block title %}Se lancer dans l'impression 3D{% endblock %}
{% block body %}
<div id="block_content">
	<div class="content3d">

		<div class="block3d">
			<h1>Quelle imprimante 3D choisir pour imprimer des figurines et décors miniatures ?</h1>
			<img class="img_3d" src="https://i2.wp.com/www.animation-figurine-decor.com/wp-content/uploads/2019/12/Animation-Figurine-Decors-Quelle-imprimante-3D-chosir-pour-ce-noel-2019.png?w=700&ssl=1">
			<p>Cet article concerne le choix d’une imprimante 3D pour ce Noël 2019. Il est écrit à partir d’informations “recoltés” sur internet, et principalement à partir de la discussion lancée sur ce forum consacré à Warhammer.  De fil en aiguille je me suis renseigné sur les avis des utilisateurs, et en particulier “les retours d’expérience ” de personnes possédant des imprimantes 3D ( sur Youtube).</p>
			<p>La chaine Youtube en rapport avec l’impression 3D est la  suivante : Eskice Miniature <a href="https://www.youtube.com/channel/UCSNboSySSVlR0JADYa0WaCA" target="_blank">voir sa chaine</a> </p>
		</div>
		<div class="block3d">
			<h2>Qu’est-ce qu’une imprimante 3D ?</h2>
			<p>Une imprimante 3D permet de réaliser en volume une image 3D réalisée à partir d’un logiciel.</p>
		</div>
		<div class="block3d">
			<h2>Comment une imprimante 3D fonctionne-t-elle ?</h2>
			<p>La machine va imprimer strate par strate votre dessin en volume à partir du fichier que vous lui aurait fourni (format STL ou OBJ ).</p>
		</div>
		<div class="block3d">
			<h2>Faut-il avoir des notions de modélisation 3D pour imprimer en volume ?</h2>
			<p>Vous n’êtes pas obligé de réaliser vous-même vos 3D, de nombreuses « Banques de modèles 3D » sont à votre disposition si vous souhaitez tester rapidement le rendu de votre imprimante : Cults, Thingiverse, Pinshape, …</p>
			<p>Si vous souhaitez réaliser vos propres modelés vous devrez « mettre les mains dans le cambouis » et apprendre un logiciel dédié à la 3D, chaque logiciel a ses spécificités, certains possèdent une courbe  d’apprentissage plus importante que d’autres. Vous pourrez ainsi apprendre à modéliser avec le logiciel de 3D Sketchup qui sera le plus intuitif et plus particulièrement adapté à la création de décors</p>
			<p>Et d’autres beaucoup plus complexes, mais tout aussi professionnels (solidworks, Rhino3D) pour la réalisation de pièces spécifiques.</p>
			<p></p>
			<p>« Sculptris », « Zbrush » « Blender », Fusion 360 pour la réalisation de figurines, tout aussi difficile, mais reconnu dans le domaine de la 3D.</p>
		</div>
		<div class="block3d">
			<h2>Combien de types d’imprimantes existe-t-il</h2>
			<p>Il existe deux types d’imprimantes 3D qui ont fait leurs preuves sur des impressions à petite échelle :
				<ul>
					<li>
						<p>L’imprimante à filament qui vient déposer en plusieurs « passages » un filament de plastique en fusion en suivant les “coordonnées informatiques” fournit  votre fichier 3D (format STL ou OBJ).</p>
					</li>
					<li>
						<p>L’imprimante à résine qui utilise un laser venant solidifier la résine liquide en effectuant plusieurs passages/ strates.</p>
					</li>
				</ul>
			</p>
		</div>
		<div class="block3d">
			<h2>Quelle imprimante choisir ?</h2>
			<p>Parmi les imprimantes les plus présentées sur les forums et YouTube (pour ne pas le citer),</p>
			<p>voici les deux qui sortent le plus du lot pour ce Noël 2019 :</p>
			<ul>
				<li>
					<p>Creality ender 3 pour un prix moyen de 180 euros (prix en période de Noel). Il s’agit d’une imprimante à filament.</p>
					<img class="img_3d" src="https://i0.wp.com/www.animation-figurine-decor.com/wp-content/uploads/2019/12/Animation-figurine-Decors-Imprimante-Creality-Ender-3-reduit.png?resize=510%2C523&ssl=1">
				</li>
				<li>
					<p>QIDI Shadow 5.5S pour un prix de 275 euros. Il s’agit d’une imprimante à résine</p>
					<img class="img_3d" src="https://i1.wp.com/www.animation-figurine-decor.com/wp-content/uploads/2019/12/Animation-figurine-Decors-Imprimante-qiditec-5.5s-.png?resize=510%2C510&ssl=1"></li>
			</ul>
			<p>Ci desssous un comparatif des deux imprimantes 3D par Eskice Miniature</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/_OI8u2poPNU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="block3d">
			<h2>Quels sont les risques pour la santé lorsqu’on utilise une imprimante 3D ?</h2>
			<p>Les risques concernent principalement l’impression à la résine, comme vu précédemment la QUIDI Shadow ne possède pas de système de ventilation optimisé.</p>
			<p>De ce fait l’air potentiellement toxique/ cancérigène dégagé par la résine n’est pas évacué si vous ne mettez pas en place un système de ventilation externe efficace.</p>
		</div>
		<div class="block3d">
			<h2>Quel est le coût d’une imprimante 3D ?</h2>
			<p>Les imprimantes 3D à dépôt de filament étant une technologie plus ancienne que la résine, elles sont moins chères.</p>
			<p>Cependant la qualité de rendu sera plus fine sur une imprimante à résine.</p>
			<p>Vous aurez également des produits de post traitement à acheter pour l’impression à base de résine (ce qui n’est pas le cas pour l’imprimante à filament)</p>
		</div>
		<div class="block3d">
			<h2>Faut-il du matériel supplémentaire pour optimiser la durée de vie de l’imprimante ?</h2>
			<p>Chaque machine possède ses avantages et ses défauts :</p>
			<p>La creality Ender 3 nécessite par exemple que vous achetiez un nouveau plateau pour réduire l’adhérence du plastique sur le support une fois que l’impression est terminée.</p>
			<p>La QUIDI Shadow ne possède pas un système de renouvellement d’air optimisé.</p>
		</div>
	</div>
</div>{% endblock %}
