{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/lore.css') }}">
{% endblock %}
{% block title %}Histoire de warhammer
{% endblock %}

{% block body %}

	<div id="lore">
		<div class="container">
			<div class="card age">
				<h2>L'histoire de Warhammer Age of Sigmar</h2>
				<img class="card-img-top imgProduct" src="https://static-cdn.jtvnw.net/jtv_user_pictures/f3d556e6-3455-429d-b04d-9b50722c564c-profile_image-300x300.png" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Du maelström d’un monde déchiqueté naquirent les Huit Royaumes. L’informe le disputa au divin dans une explosion de vie. D’étranges mondes naquirent dans le firmament, constellés d’esprits, de dieux et d’hommes. Le plus noble dieu était Sigmar. Une éternité durant, il illumina les royaumes, les baignant de son aura tandis qu’il façonnait son empire. Sa force était celle de la foudre et sa sagesse infinie. Mortels et immortels se prosternaient au pied de son trône. D’illustres empires s’élevèrent et pour un temps, toute trahison fut bannie. Sigmar régnait sur la terre comme au ciel, initiant un âge mythique et glorieux.
																															Mais le temps est cynique, et comme auguré, la belle alliance des dieux et des hommes se rompit. Mythes et légendes cédèrent au Chaos, et les ténèbres noyèrent les royaumes. L’âge d’or fit alors place à la torture, à l’esclavage et à la peur. Amer, Sigmar se détourna des mortels pour méditer sur les reliques du monde qu’il avait perdu jadis, en quête du moindre signe d’espoir. Enfin, dans la fièvre de la rage qui le consumait, il eut une sublime vision. Il imagina une arme née des cieux. Un fanal si flamboyant qu’il saurait percer les ténèbres. Une armée forgée à partir de tout ce qu’il avait perdu. Sigmar mit ses artisans au travail, et ils s’échinèrent pendant des éons à dompter le pouvoir des étoiles. Lorsque le grand œuvre de Sigmar fut sur le point d’être achevé, il porta à nouveau son attention vers les royaumes pour constater que le Chaos les avait presque totalement envahis. L’heure de la vengeance avait sonné. Le front ceint d’éclairs incandescents, il libéra enfin sa création.
						<strong>Ainsi débuta l’Âge de Sigmar.</strong>
					</p>
					<a href="{{ path('warhammeraos') }}" class="btn btn-danger btn-color" >Voir les factions</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="card age">
				<h2>L'histoire de Warhammer 40K</h2>
				<img class="card-img-top imgProduct" src="https://www.iamag.co/wp-content/uploads/2017/10/The-Art-Of-Warhammer-40000-Space-Marine-2-444x383.jpg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Dans le futur cauchemardesque du quarante-et-unième millénaire, l'humanité lutte contre sa propre extinction. Les frontières de son Imperium galactique grouillent d'extraterrestres hostiles, tandis que créatures maléfiques et rebelles hérétiques constituent un terrible ennemi intérieur. Seule la puissance de l'Immortel Empereur de Terra prévient l'extermination du genre humain. Les innombrables guerriers, agents et serviteurs de l'Imperium sont dévoués à Son service. A leur tête se tiennent les Space Marines, mentalement et physiquement conçus pour être les guerriers suprêmes, ultimes défenseurs de l'humanité."
																																												    Il n'y a pas de paix.Pas de répit.Pas de rémission.Il n'y a que la <strong> GUERRE</strong>.</p>
					<a href="{{ path('warhammer40K') }}" class="btn btn-danger btn-color" >Voir les factions</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
