{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/race_details.css') }}">
{% endblock %}
{% block title %}Les unités
{% endblock %}
{% block body %}
	<div class="title">
			<div class="block_title">
				<h1 id="title">{{race.name}}</h1>
			</div>
			<div class="block">
				<h3 id="title">Figurine Officielle de la gamme Games Workshop</h3>
			</div>
	</div>
	<div class="contentfaction">
		{% for unite in unite %}
			<div class="card container">
				<h2 class="card-title">{{ unite.name }}</h2>
				<div class="card-body">
					<img src="{{unite.img}}" id="img">
					<p>{{ unite.description}}</p>
					<a href="{{unite.shop}}" target="_blank" class="btn btn-danger btn-color">Voir la boutique officielle</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="title">
		<div class="block">
			<h3 id="title">Figurine D'impression 3D</h3>
		</div>
	</div>
	<div class="contentfaction">
		{% for stl in stl %}
			<div class="card container_3d">
				<h2 class="card-title">{{ stl.name }}</h2>
				<div class="card-body">
					<img src="{{stl.img}}" id="img3d">
					<p>Creer par :
						{{stl.autor}}</p>
					<a href="{{stl.link}}" target="_blank" class="btn btn-danger btn-color">Voir sa page</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
