{% extends 'base.html.twig' %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/warhammeraos.css') }}">
{% endblock %}
{% block title %}
	- Warhammer Age of Sigmar
{% endblock %}
{% block body %}
	<div class="contentfaction">
		{% for faction in faction %}
			<div class="card container">
                        <h2 class="card-title">{{ faction.name }}</h2>
				<div class="card-body">
					<img src="{{faction.img}}" class="card-img-top" id="img"  alt="...">
					<p class="card-text">{{ faction.lore }}.</p>
					<a id="{{ faction.name }}" href="{{ path('warhammeraos_details', { id: faction.id} ) }}" class="btn btn-danger btn-color">Voir les races </a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
