{% extends 'base.html.twig' %}
{% block title %}Détails des races{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/warhammer40k_details.css') }}">
{% endblock %}


{% block body %}

<div class="contentfaction">
		{% for race in race %}
			<div class="card container">
                        <h5 class="card-title">{{ race.name }}</h5>
				<div class="card-body">
					<p class="card-text">{{ race.lore }}.</p>
					<a href="{{ path('race', { id: race.id} ) }}" class="btn btn-danger">Voir les races </a>
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}
