{% extends 'base.html.twig' %}
{% block title %}Détails des races{% endblock %}
{% block linkCss %}<link rel="stylesheet" type="text/css" href="{{ asset('css/warhammeraos_details.css') }}">
{% endblock %}
{% block body %}
<div class="contentfaction">
		{% for race in race %}
			<div class="card container">
            <h2 class="card-title">{{ race.name }}</h2>
				<div class="card-body">
				<img src="{{race.img}}" id="img">
					<p class="card-text">{{ race.lore }}</p>
					<a href="{{ path('race', { id: race.id} ) }}" class="btn btn-danger btn-color">Voir les races </a>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
