{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Administration
{% endblock %}

{% block linkCss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}

	<main >
		<div class="content-pres">
			<div id="loginContainer">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">
						Connectez-vous
					</h1>
					<p>
						<label for="inputUsername">
							Nom d'utilisateur
						</label>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus/>
					</p>
					<p>
						<label for="inputPassword">
							Mot de passe
						</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required/>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
					</p>
					<p>
						<button class="bouton btn btn-lg btn-primary" type="submit">
							Valider
						</button>
					</p>
				</form>
			</div>
		</div>
	</main>

{% endblock %}
