#newunite {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	width: 600px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.block_age {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 90%;
	margin-left: 10px;
}

.link {
	text-decoration: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.link:hover{
text-decoration: none;
color: white;
}

.aos {
	text-align: center;
	background-color: transparent;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.blockunit {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 380px;
	min-height: 500px;
	margin-left: 30px;
	margin-bottom: 25px;
	margin-top: 10px;
	padding: 25px;
	background-color: rgba(10, 10, 10, 0.9);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
	background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	padding: 15px;
}

.img {
	width: 350px;
	height: 300px;
}
.block_body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-color {
	margin-top: 20px;
	background-color: black;
	border: 1px solid darkred;
}

/* -------------------- Média query ------------------------*/

@media screen and (max-width: 750px) {
	#newunite {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.block_age {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.aos {
		width: 444px;
	}
	.blockunit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 30%;
	}
}
