.block_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.formulaire {
   padding: 25px;
   background-color: rgba(10, 10, 10, 0.9);
}

#nom div, #email div, #textarea div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
    padding: 0 5px 0 0
}
    
input {
    height: 3.5vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
}

#contact_message {
    height: 20vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
    resize: none;
}

#textarea li {
    list-style-type: none;
    padding: 5px;
    color: red;
    font-size: 1.5vw;
    border: 2px solid red;
}

#textarea li:first-child {
    display: none;
}

.check-label-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.check-label-submit label {
    font-size: 1vw;
}

.check-label {
    display: flex;
    align-items: center;
    width: 70%;
}

input[type="checkbox"] {
    width: 10%;
    margin-right: 0.5vw;
    margin-bottom: 0;
}

button[type="submit"] {
    padding: 0.5rem 4rem;
    color: white;
    font-weight: 100;
    font-size: 2vw;
    background-color: black;
    border: 1px solid darkred;
    text-align: center;
    cursor: pointer;
}