.contentdebut {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(10, 10, 10, 0.9);
    width: 900px;
    }

.blockdebut{
    padding: 25px;
}

.img_debut{
    margin-top: 10px;
    margin-bottom: 10px;
}
#block_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media screen and (max-width: 750px) {
 
    .blockdebut{
        width: 450px;
        padding: 25px;
    }
    .img_debut{
        width: 350px;
    }
    .contentdebut {
        width: 450px;
    }

}