.content3d {
 
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(10, 10, 10, 0.9);
    width: 900px;
    }

.block3d{
    padding: 25px;
}

.img_3d{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 550px;
}
li{
    list-style: none;
}
#block_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
@media screen and (max-width: 750px) {
 
    .block3d{
        width: 450px;
        padding: 25px;
    }
    .img_3d{
        width: 350px;
    }
    iframe{
        width: 350px;
    }
    .content3d{
        width: 450px;
    }
}