#loginContainer{
    width: 600px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgba(10, 10, 10, 0.9);
    padding: 25px;
}
.bouton{
    font-size: 20;
    margin-top: 15px;
    background-color: black;
    border: 1px solid darkred;
    padding: 10px;
}

.bouton:hover{
    border: 5px solid var(--orange);
}
@media screen and (max-width: 750px) {
    #loginContainer{ 
        width: 300px;
    }
}