#lore {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	color: white;
	
}


.container {

	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgProduct {
	width: 350px;
	height: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.age{
	min-height: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    padding: 25px;
    background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-color{
	background-color: black;
	border: 1px solid darkred;
}

@media screen and (max-width: 750px) {
    #lore{ 
     display: inline;
    }
}