.contentfaction {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
}

.container {
	width: 600px;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px;
	background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	margin-bottom: 30px;
}

#img {
	width: 400px;
	height: 350px;
	margin-bottom: 25px;
}

.btn-color {
	background-color: black;
	border: 1px solid darkred;
}

p {
	text-align: justify;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#img3d {
	width: 350px;
	height: 300px;
	margin-bottom: 25px;
}
.container_3d {
	margin-left: 20px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px;
	background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	margin-bottom: 30px;
}
.block {
	width: 600px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px;
	background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}
.block_title {
	width: 900px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px;
	background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

@media screen and (max-width: 750px) {
	.contentfaction {
		display: inline;
	}
	.container {
		width: 450px;
  }
  .container_3d{
    
    width: 450px;
  }
  .block{
    width: 450px;
  }
}
