/*--------------------------NAVBAR----------------------*/
#navperso {
	margin-top: 5px;
	text-align: center;
	font-size: 30px;
	padding: 25px;
	margin-bottom: 10px;
	background-color: transparent;
}
#navlogo {
	width: 350px;
	margin-right: 20px;
}
.nav-itemperso {
	border: black solid 2px;
	margin-right: 20px;
	border-radius: 3%;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	background-color: rgba(10, 10, 10, 0.9);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.list {
	text-decoration: none;
	color: white;
}
#icon{
	background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

/*--------------------------/NAVBAR----------------------*/

/*--------------------------BODY----------------------*/
body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://c.wallhere.com/photos/1a/87/Warhammer_age_of_sigmar-1402641.jpg!d);
}

/*--------------------------/BODY----------------------*/

/*--------------------------FOOTER----------------------*/
#container_reseau {
	display: flex;
	flex-direction: column;
	padding: 25px;
	margin-top: 30px;
	color: white;
	text-align: center;
}

#block_footer {
	margin-top: 20px;
	background-color: rgba(10, 10, 10, 0.9);
	display: grid;
	display: flex;
	flex-direction: row;
	min-height: 200px;
	
}
#copy {
	background-color: black;
	color: white;
}
#link{
	margin-top: 60px;
	margin-left: 450px;
	color: white;
}

#footertitle{
	margin-bottom: 20px;
}
.linkfooter a{
	color: white;
}
.linkfooter{
	list-style: none;
}
#iframefooter{
	margin-left: 40px;
}
/*--------------------------/FOOTER----------------------*/


@media screen and (max-width: 750px) {
	#container_reseau {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	#block_footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	#copy{
		width: 100%;
		margin-top: 5px;
	}
	#icon{
		padding: 25px;
	}
	#link{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-left: 0px;
		margin-top: 10px;
	}

}