.contentfaction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

#faction {
  background-color: lightgray;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: black solid 1px;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  padding: 25px;
  background-color: rgba(10, 10, 10, 0.9);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

#img{
  width: 400px;
	height: 350px;
	margin-bottom: 25px;
}

.btn-color{
	background-color: black;
	border: 1px solid darkred;
}

p{
  text-align: justify;
}
@media screen and (max-width: 750px) {
  .contentfaction{ 
   display: inline;
  }
}

