.contentfaction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  
  #faction {
    background-color: lightgray;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: black solid 1px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .container {
      width: 500px;
    padding: 25px;
    align-items: center;
    text-align: justify;
  
  }
  
  #img{
    margin-bottom: 10px;
    width: auto;
    height: 250px;
  }
  @media screen and (max-width: 750px) {
    .contentfaction{ 
     display: inline;
    }
    .container { width: 400px;}
  }