.contentfaction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
  
  .container {
    width: 600px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: rgba(10, 10, 10, 0.9);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
  }
  
  #img{
    width: 320px;
    height: 300px;
    margin-bottom: 25px;
  }
  
  .btn-color{
    background-color: black;
    border: 1px solid darkred;
  }

  p{
    text-align: justify;
  }

  @media screen and (max-width: 750px) {
    .contentfaction{ 
     display: inline;
    }
    .container { width: 400px;}
  }
  
  